{% extends 'buybackprogram/page.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap %}
{% load static %}

{% block body %}
<div class="card">
  <div class="card-header">
    {% trans "Program Special Taxes" %}
  </div>
  <div class="card-body">
    {% if perms.buybackprogram.manage_programs and program.owner.user == request.user %}
    <a class="btn btn-sm btn-warning" href="{% url 'buybackprogram:program_edit_item' program_pk=program.id %}"><i class="fas fa-plus"></i> {% trans "Add item" %}</a>
    <a class="btn btn-sm btn-warning" href="{% url 'buybackprogram:program_edit_marketgroup' program_pk=program.id %}"><i class="fas fa-plus"></i> {% trans "Add market group" %}</a>
    <a class="btn btn-sm btn-danger" href="{% url 'buybackprogram:program_item_remove_all' program_pk=program.id %}"><i class="fas fa-trash"></i> {% trans "Deleta all items" %}</a>
  {% endif %}
    <p style="margin-top:5px;">{% trans "This section shows all special item taxes applied to this program. Taxes may either be additional taxes or discounts." %}</p>
    <table id="program_items" class="table table-striped table-hover no-footer w-100">
      <thead>
        <th>Name</th>
        <th style="text-align: center;">{% trans "Tax adjustment" %}</th>
        <th style="text-align: center;">{% trans "Total tax" %}</th>
        <th style="text-align: center;">{% trans "Is allowed" %}</th>
        {% if perms.buybackprogram.manage_programs and program.owner.user == request.user %}
          <th style="text-align: center;">{% trans "Actions" %}</th>
        {% endif %}
      </thead>
      <tbody>
        {% for item in program_items %}
          <tr>
            <td>{{item.item_type.name}}</td>
            <td style="text-align: center;">{{item.item_tax}} %</td>
            <td style="text-align: center;">{{item.item_tax|add:program.tax }} %</td>
            {% if not item.disallow_item %}
               <td style="text-align: center;"><i class="fas fa-check" style="color:green;"></i></td>
            {% else %}
              <td style="text-align: center;"><i class="fas fa-times" style="color:red;"></i></td>
            {% endif %}
            {% if perms.buybackprogram.manage_programs and program.owner.user == request.user %}
              <td style="text-align: center;">
                <a class="btn btn-danger btn-sm" href="{% url 'buybackprogram:program_item_remove' item_pk=item.item_type.id program_pk=program.id %}">Delete</a>

              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script type="text/javascript" src="{% static 'buybackprogram/js/bootstrap-autocomplete.min.js' %}"></script>
<script type="text/javascript" src="{% static 'buybackprogram/js/autocomplete.js' %}"></script>
{% endblock %}

{% block extra_css %}
{% include "buybackprogram/bundles/buybackprogram-css-light.html" %}
{% endblock %}

{% block extra_script %}
{% endblock %}
