{% extends 'buybackprogram/page.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap %}
{% load static %}

{% block body %}
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <form class="form" action="{% url 'buybackprogram:program_edit' program_pk=program.id %}" method="POST">
      {% csrf_token %}
      {{ form|bootstrap }}
      <button type="submit" class="btn btn-primary">{% trans "Edit Program" %}</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_javascript %}
  <script type="text/javascript" src="{% static 'buybackprogram/js/bootstrap-autocomplete.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'buybackprogram/js/autocomplete.js' %}"></script>
</div>
{% endblock %}

{% block extra_css %}
{% include "buybackprogram/bundles/buybackprogram-css-light.html" %}
{% endblock %}

{% block extra_script %}
{% endblock %}
